.footer {
  height: 100px;
  background-color: var(--color-black);

  @include mobile {
    height: auto;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &-policy {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    text-decoration: underline;
    color: var(--color-white);
    cursor: pointer;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &-socials {
    display: flex;
    justify-content: space-between;
    width: 85px;

    @include mobile {
      margin-bottom: 10px;
    }

    & > svg {
      cursor: pointer;
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__item {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 10px;
      }

      .text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--color-white);
        cursor: pointer;
      }
    }
  }
}
