.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  padding-top: 3px;

  @include small-tablet {
    grid-template-columns: auto auto;
    grid-gap: 0;
  }
}

.header-logo {
  display: flex;
  width: 160px;
  height: 100px;

  @include small-tablet {
    width: 100px;
    align-items: center;
  }

  @include mobile {
    width: 80px;
    align-items: center;
  }

  & img {
    display: block;
  }
}

.nav {
  &__list {
    display: flex;
    height: 100%;
    margin-left: 42px;
    margin-right: 66px;

    @include small-tablet {
      justify-content: flex-start;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    cursor: pointer;

    & a {
      color: inherit;
    }

    @include hover {
      color: var(--color-white);
      background-color: var(--color-black);
    }

    @include small-tablet {
      padding: 0 5px;
      font-size: 12px;
    }
  }
}
