<section class="hero container grid">
  <article class="hero__article">
    <h1 class="hero__title">Xiaomi Himo C26</h1>
    <h4 class="hero__subtitle">Электрический велосипед</h4>
    <div class="hero__description">
      <p class="hero__description">Полная свобода передвижения и надежный транспорт для путешествий на любые расстояния</p>
      <p class="hero__description">
        HIMO C26&nbsp;&mdash; это новый электровелосипед от&nbsp;Xiaomi, который создан как для езды по&nbsp;городу, так и&nbsp;бездорожью.
        Он имеет мощный двигатель и&nbsp;емкий аккумулятор, благодаря которым способен проезжать на&nbsp;одном заряде до&nbsp;100&nbsp;км,
        что определенно выше, чем у&nbsp;большинства конкурентов. А&nbsp;большие колеса с&nbsp;пневматическими шинами, дисковые тормоза,
        7-скоростная трансмиссия и&nbsp;эргономичное сидение делают каждую поездку гораздо приятнее.
      </p>
      <button class="btn btn-reset hero__btn">ЗАКАЗАТЬ</button>
    </div>
  </article>
  <article class="hero__article">
    <div class="hero__slider">
      <div class="swiper-1 swiper">
        <div class="swiper-wrapper">
          <img src="../img/hero-velo.png" alt="bike" class="hero__image swiper-slide" />
          <img src="../img/hero-velo-2.png" alt="bike" class="hero__image swiper-slide" />
          <img src="../img/hero-velo-3.png" alt="bike" class="hero__image swiper-slide" />
          <img src="../img/hero-velo-5.png" alt="bike" class="hero__image swiper-slide" />
        </div>
      </div>
      <div class="hero__pagination pagination">
        <div class="hero-pagination__item"></div>
        <div class="hero-pagination__item"></div>
        <div class="hero-pagination__item"></div>
        <div class="hero-pagination__item"></div>
      </div>
    </div>
    <ul class="hero__params list-reset">
      <li class="params__item">
        <h3>до 100 км</h3>
        <p>Запас хода</p>
      </li>
      <li class="params__item">
        <h3>25 км/ч</h3>
        <p>Макс корость</p>
      </li>
      <li class="params__item">
        <h3>3 режима езды</h3>
        <p>
          механический, гибридный,<br />
          электрический
        </p>
      </li>
      <li class="params__item">
        <h3>25 кг</h3>
        <p>вес</p>
      </li>
    </ul>
  </article>
</section>
