<section class="container order">
  <div class="order__credentials">
    <h3 class="order-title">Заказать</h3>
    <div class="order-form">
      <p class="order-form__desc">
        Если Вы хотите заказать велосипед, оставьте свой контакт и наш менеджер перезвонит вам в ближайшее время
      </p>
      <form id="buy-form">
        <input name="name" type="text" placeholder="имя" class="order-form__field" />
        <input name="phone" type="text" placeholder="телефон" class="order-form__field" />
        <div class="order-color">
          <div class="order-color__title">выберите желаемый цвет</div>
          <div class="order-color__inputs input-group">
            <label class="input-group__item input-group__item--gray">
              <input type="radio" name="color" id="gray" class="input-group__el" value="0" checked />
            </label>
            <label class="input-group__item input-group__item--white">
              <input type="radio" name="color" id="gray" class="input-group__el" value="1" />
            </label>
            <label class="input-group__item input-group__item--red">
              <input type="radio" name="color" id="gray" class="input-group__el" value="2" />
            </label>
          </div>
        </div>
      </form>
      <button class="btn btn-reset order__btn">ЗАКАЗАТЬ</button>
    </div>
  </div>
  <h2 class="order__price">32 999 грн.</h2>
  <div class="order__slider swiper-order swiper">
    <div class="swiper-wrapper">
      <img src="../../img/order-bike-gray.png" alt="gray bike photo" class="swiper-slide order-slide" />
      <img src="../../img/order-bike-white.png" alt="gray bike photo" class="swiper-slide order-slide" />
      <img src="../../img/order-bike-red.png" alt="gray bike photo" class="swiper-slide order-slide" />
    </div>
  </div>
</section>
