<section class="promo container grid">
  <img src="../img/descr-photo.png" alt="Photo" class="promo__photo" />
  <ul class="promo-list list-reset">
    <li class="promo-list__item">
      <h4 class="item__title">Комфорт и безопасность от HIMO</h4>
      <p class="item__text">
        Электровелосипед HIMO C26 позволит вам быстро и&nbsp;с&nbsp;комфортом добраться до&nbsp;места работы или учебы
        и&nbsp;не&nbsp;привязываться к&nbsp;городскому транспорту. Велосипед обладает прочной конструкцией и&nbsp;внушительным запасом хода,
        чтобы стать надежным транспортным средством в&nbsp;современных городских условиях. Легкая и&nbsp;прочная рама, 26-дюймовые колеса
        и&nbsp;7-ступенчатая система трансмиссии позволяют уверенно передвигаться не&nbsp;только по&nbsp;асфальтированному дорожному
        полотну, но&nbsp;и&nbsp;по&nbsp;сложной загородной трассе.
      </p>
    </li>
    <li class="promo-list__item">
      <h4 class="item__title">Прочная и легкая рама</h4>
      <p class="item__text">
        Рама HIMO C26 изготовлена из прочного и легкого <br />алюминиевого сплава и отличается высокой надежностью, устойчивостью в
        аварийных ситуациях, превосходной управляемостью и комфортным передвижением по любой<br />
        дороге.
      </p>
    </li>
    <li class="promo-list__item">
      <h4 class="item__title">Комбинация режимов для увеличения запаса хода</h4>
      <p class="item__text">
        Электровелосипед HIMO C26 обладает увеличенным запасом хода. Его аккумулятор емкостью 10000 мАч с интеллектуальной системой
        оптимизации энергопотребления позволяет проехать до 60 км на одном заряде в режиме электропривода. При использовании на некоторых
        участках пути физической силы дальность хода увеличивается до 100 км. Максимальная скорость передвижения HIMO C26 составляет 25
        км/ч.
      </p>
    </li>
    <li class="promo-list__item">
      <h4 class="item__title">Надежная трансмиссия</h4>
      <p class="item__text">
        7-ступенчатая система трансмиссии обеспечивает плавное и точное переключение передач, удобное управление скоростью и надежность в
        работе. Переключая передачи, вы сможете с минимальными усилиями заехать на горку и безопасно скатиться вниз.
      </p>
    </li>
    <li class="promo-list__item">
      <h4 class="item__title">Вся информация на ЖК-дисплее</h4>
      <p class="item__text">
        Вся информация на ЖК-дисплее Большой информативный дисплей, вынесенный на рулевую стойку, отображает всю важную информацию о работе
        HIMO C26 в реальном времени. Вы сможете узнать актуальную скорость передвижения, уровень заряда или пройденный путь. Дисплей защищен
        от воздействия внешних факторов по<br />
        стандарту IPX7 и не боится дождя и пыли.
      </p>
    </li>
    <li class="promo-list__item">
      <h4 class="item__title">Удобное седло</h4>
      <p class="item__text">
        Электровелосипед HIMO C26 укомплектован велосипедным седлом от известного бренда Selle Royal. Трехмерная гелевая структура седла
        обеспечивает оптимальную упругость и высокий комфорт во время езды.
      </p>
    </li>
  </ul>
</section>
