<section class="slider container">
  <div class="slider__pagination pagination">
    <div class="pagination__item"></div>
    <div class="pagination__item"></div>
    <div class="pagination__item"></div>
    <div class="pagination__item"></div>
  </div>
  <div class="slider__wrapper swiper">
    <div class="swiper-wrapper">
      <img src="../../img/slider-bike-1.png" alt="bike photo" class="slider__img swiper-slide" />
      <img src="../../img/slider-bike-2.png" alt="bike photo" class="slider__img swiper-slide" />
      <img src="../../img/slider-bike-1.png" alt="bike photo" class="slider__img swiper-slide" />
      <img src="../../img/slider-bike-3.png" alt="bike photo" class="slider__img swiper-slide" />
    </div>
  </div>
</section>
