<section class="tech container grid">
  <div class="tech__info info">
    <h3 class="info__title">Характеристики</h3>
    <ul class="info-list list-reset">
      <li class="info-list__item item">
        <h4 class="item__title">Общие</h4>
        <p class="item__descr"><span>Производитель</span><span>Xiaomi</span></p>
        <p class="item__descr"><span>Вид</span><span>взрослый, дорожный, городской, электровелосипед, алюминиевая рама</span></p>
        <p class="item__descr"><span>Колеса</span><span>26, двойной алюминиевый обод</span></p>
        <p class="item__descr"><span>Электропривод</span><span>мотор 250W, разгон до 25 км/ч</span></p>
      </li>
      <li class="info-list__item">
        <h4 class="item__title">амортизация</h4>
        <p class="item__descr"><span>Тип амортизации</span><span>амортизирующая вилка (Hard tail)</span></p>
        <p class="item__descr"><span>Вилка</span><span>пружинно-эластомерная</span></p>
      </li>
      <li class="info-list__item">
        <h4 class="item__title">управление</h4>
        <p class="item__descr"><span>Руль</span><span>изогнутый, регулируемый подъем</span></p>
        <p class="item__descr"><span>Манетки</span><span>триггерные однорычажные, Shimano</span></p>
      </li>
      <li class="info-list__item">
        <h4 class="item__title">характеристика трансмиссии</h4>
        <p class="item__descr"><span>Количество скоростей</span><span>7</span></p>
        <p class="item__descr"><span>Педали</span><span>классические</span></p>
        <p class="item__descr"><span>Передний переключатель</span><span>1 звезда</span></p>
        <p class="item__descr"><span>Задний переключатель</span><span>Shimano Tourney (прогулочный)</span></p>
        <p class="item__descr"><span>Кассета</span><span>7 звезд</span></p>
      </li>
      <li class="info-list__item">
        <h4 class="item__title">тормоза</h4>
        <p class="item__descr"><span>Передний</span><span>дисковый механический</span></p>
        <p class="item__descr"><span>Задний</span><span>дисковый механический</span></p>
        <p class="item__descr"><span>Готовность к установке дисковых</span><span>рама, вилка, втулка </span></p>
      </li>
      <li class="info-list__item">
        <h4 class="item__title">прочее</h4>
        <p class="item__descr"><span>Оснащение</span><span>электрооборудование, звонок</span></p>
        <p class="item__descr"><span>Вес</span><span>25 кг</span></p>
      </li>
    </ul>
  </div>
  <div class="tech__img">
    <img src="../img/tech-img.png" alt="display photo" aria-hidden="true" />
  </div>
</section>
