<footer class="footer">
  <div class="container footer-container">
    <a class="footer-policy" href="#" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
    <div class="footer-socials">
      <a href="#">
        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.60763 28H22.7257C25.8175 28 28.3333 25.5138 28.3333 22.4583V5.54167C28.3333 2.48617 25.8175 0 22.7257 0H5.60763C2.51576 0 0 2.48617 0 5.54167V22.4583C0 25.5138 2.51576 28 5.60763 28ZM1.77083 5.54167C1.77083 3.451 3.49208 1.75 5.60763 1.75H22.7257C24.8412 1.75 26.5625 3.451 26.5625 5.54167V22.4583C26.5625 24.549 24.8412 26.25 22.7257 26.25H5.60763C3.49208 26.25 1.77083 24.549 1.77083 22.4583V5.54167Z"
            fill="white"
          />
          <path
            d="M14.1674 21.152C18.1576 21.152 21.4042 17.9436 21.4042 14.0003C21.4042 10.057 18.1576 6.84863 14.1674 6.84863C10.1771 6.84863 6.93057 10.057 6.93057 14.0003C6.93057 17.9436 10.1771 21.152 14.1674 21.152ZM14.1674 8.59863C17.1813 8.59863 19.6333 11.0218 19.6333 14.0003C19.6333 16.9788 17.1813 19.402 14.1674 19.402C11.1534 19.402 8.7014 16.9788 8.7014 14.0003C8.7014 11.0218 11.1534 8.59863 14.1674 8.59863Z"
            fill="white"
          />
          <path
            d="M21.6732 8.58891C22.8372 8.58891 23.7143 7.72558 23.7143 6.58108C23.7143 5.38758 22.7912 4.57324 21.6744 4.57324C20.5103 4.57324 19.6332 5.43658 19.6332 6.58108C19.6332 7.77224 20.5516 8.58891 21.6732 8.58891ZM21.8821 6.38858C22.2552 6.71408 21.404 7.10958 21.404 6.58224C21.404 6.26724 21.8373 6.34891 21.8821 6.38858Z"
            fill="white"
          /></svg></a
      ><a href="#">
        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_6_299)">
            <path
              d="M4.8171 28H14.0586V18.0469H10.7383V14.7656H14.0586V10.6641C14.0586 8.40244 15.9205 6.5625 18.209 6.5625H22.3594V9.84375H19.0391C18.1236 9.84375 17.3789 10.5797 17.3789 11.4844V14.7656H22.2096L21.6562 18.0469H17.3789V28H24.8496C27.1382 28 29 26.1601 29 23.8984V4.10156C29 1.83994 27.1382 0 24.8496 0H4.8171C2.52855 0 0.666718 1.83994 0.666718 4.10156V23.8984C0.666718 26.1601 2.52855 28 4.8171 28ZM2.32687 4.10156C2.32687 2.74463 3.44402 1.64062 4.8171 1.64062H24.8496C26.2227 1.64062 27.3399 2.74463 27.3399 4.10156V23.8984C27.3399 25.2554 26.2227 26.3594 24.8496 26.3594H19.0391V19.6875H23.0626L24.1693 13.125H19.0391V11.4844H24.0195V4.92188H18.209C15.005 4.92188 12.3985 7.49774 12.3985 10.6641V13.125H9.07816V19.6875H12.3985V26.3594H4.8171C3.44402 26.3594 2.32687 25.2554 2.32687 23.8984V4.10156Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_6_299">
              <rect width="28.3333" height="28" fill="white" transform="translate(0.666718)" />
            </clipPath>
          </defs></svg
      ></a>
    </div>
    <div class="footer-contacts">
      <div class="footer-contacts__item">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z"
              fill="white"
            />
          </svg>
        </div>
        <a href="tel:+71804124" class="text">+38 050 677 77 77</a href="">
      </div>
      <div class="footer-contacts__item">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z"
              fill="white"
            />
          </svg>
        </div>
        <a href="mailto:elektrobikeukr@gmail.com" class="text">elektrobikeukr@gmail.com</a>
      </div>
    </div>
  </div>
</footer>
