<header class="header container">
  <div class="header-logo">
    <img src="../img/header-logo.png" alt="Himo logo" />
  </div>
  <nav class="nav">
    <ul class="nav__list list-reset">
      <li class="nav__item"><a href="#">Описание</a></li>
      <li class="nav__item"><a href="#">Характеристики</a></li>
      <li class="nav__item"><a href="#">Cтоимость</a></li>
    </ul>
  </nav>
</header>
