// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Inter', sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-black: #131313;
  --color-gray: #6f6f6f;
  --color-red: #ff4040;
}
