// базовые подключения
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'settings';

// подключения компонентов страницы
@import './components/header';
@import './components/footer';
@import './components/sections/hero';
@import './components/sections/promo';
@import './components/sections/tech';
@import './components/sections/slider';
@import './components/sections/order';

.container {
  max-width: var(--container-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 570px));
  grid-gap: 60px;

  @include small-tablet {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.btn {
  width: 100%;
  padding: 28px 0;
  padding-left: 15px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @include small-tablet {
    width: 100%;
    padding: 20px 30px;
    padding-right: 10px;
  }

  @include hover {
    background-color: var(--color-red);
  }

  &:active {
    box-shadow: 0 0 5px var(--color-gray);
  }
}

input[type='text'] {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #6f6f6f7a;
  }
}
