.hero {
  align-items: end;
  margin-bottom: 150px;

  @include tablet {
    margin-bottom: 40px;
  }

  &__slider {
    display: flex;
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    width: 2px !important;
    margin-top: 46px;

    @include small-tablet {
      display: none;
    }

    .hero-pagination__item {
      width: 2px;
      height: 22px;
      background-color: var(--color-black);
      border-radius: 7px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &--active {
        background-color: var(--color-red);
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include for-desktop {
      padding-top: 100px;
    }
  }

  &__title {
    margin-top: 70px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--color-black);

    @include tablet {
      margin: 0;
      font-size: 40px;
      line-height: 62px;
    }
  }

  &__subtitle {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-gray);

    @include tablet {
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 33px;
    }
  }

  &__description {
    max-width: 430px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    @include tablet {
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 110%;
    }

    @include small-tablet {
      max-width: 100%;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 80px;

    @include small-tablet {
      display: none;
    }
  }

  &__params {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 65px;

    @include tablet {
      padding: 0 10px;
    }

    .params__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & > h3 {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;

        @include tablet {
          font-size: 12px;
          line-height: 15px;
        }

        @include small-tablet {
          font-size: 14px;
          line-height: 17px;
        }
      }

      & > p {
        display: flex;
        height: 100%;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-transform: lowercase;

        @include tablet {
          font-size: 10px;
          line-height: 12px;
        }

        @include small-tablet {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}
