.order {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include small-tablet {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  &__credentials {
    min-width: 300px;
    @include for-desktop {
      min-width: 420px;
    }

    @include small-tablet {
      min-width: none;
    }
  }

  &-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    @include small-tablet {
      margin-bottom: 10px;
    }
  }

  &-form {
    margin-bottom: 20px;

    &__desc {
      width: 300px;
      margin-bottom: 17px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;

      @include small-tablet {
        width: 100%;
      }

      @include mobile {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 110%;
      }
    }

    &__field {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &-color {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 23px;
    max-width: 270px;
    margin-top: 10px;
    margin-bottom: 47px;

    @include small-tablet {
      margin-bottom: 30px;
    }

    &__title {
      grid-column: 1 / span 3;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #6f6f6f7a;
    }

    &__inputs.input-group {
      grid-column: 1 / span 3;
      display: flex;
      justify-content: space-between;

      .input-group__item {
        width: 80px;
        height: 13px;
        border-radius: 7px;

        cursor: pointer;

        &::after {
          display: block;
          content: '\2714';
          font-size: 40px;
          line-height: -10px;
          color: rgb(10, 218, 106);
          opacity: 0;
          transform: translate(22px, -80%);
          transition: opacity 0.3s ease-in-out;
        }

        &--gray {
          border: 1px solid var(--color-gray);
          background-color: var(--color-gray);
        }

        &--white {
          border: 1px solid var(--color-gray);
          background-color: var(--color-white);
        }
        &--red {
          background-color: var(--color-red);
        }

        input[type='radio'] {
          visibility: hidden;
        }

        &--active.input-group__item {
          &::after {
            display: block;
            content: '\2714';
            font-size: 40px;
            line-height: -10px;
            color: rgb(10, 218, 106);
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }
    }
  }

  &__price {
    position: absolute;
    left: 50%;
    top: 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    transform: translateX(-50%);
    z-index: 10;

    @include tablet {
      top: 10px;
      transform: translateX(-50%);
    }

    @include small-tablet {
      top: 30px;
      right: 25px;
      left: auto;
      font-size: 22px;
      line-height: 24px;
      transform: translateX(0);
    }

    @include mobile {
      top: -20px;
      left: 50%;
      right: auto;
      font-size: 18px;
      line-height: 24px;
      transform: translateX(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      inset: -30px -20px;
      border: 1px solid red;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      @include small-tablet {
        inset: -10px -10px;
        transform: translateY(3px);
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: -30px -20px;
      border: 1px solid red;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      transform: translateY(10px);

      @include small-tablet {
        inset: -10px -10px;
        transform: translateY(-3px);
      }
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 100px;

    @include tablet {
      margin-left: 20px;
    }

    @include small-tablet {
      margin-bottom: 20px;
    }

    .order-slide {
      object-fit: contain;

      @include for-desktop {
        object-fit: contain;
      }
    }
  }
}
