.promo {
  margin-bottom: 150px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include small-tablet {
    margin-bottom: 20px;
  }

  .promo__photo {
    width: 100%;
    object-fit: contain;
  }

  .promo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      &:not(:last-child) {
        margin-bottom: 50px;

        @include tablet {
          margin-bottom: 10px;
        }
      }
      .item__title {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
      }

      .item__text {
        max-width: 450px;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;

        @include small-tablet {
          max-width: 100%;
        }
      }
    }
  }
}
