.slider {
  display: flex;
  justify-content: space-between;
  max-height: 630px;
  margin-bottom: 52px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include small-tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    display: none;
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    width: auto !important;
    margin-right: 50px;

    @include small-tablet {
      display: none;
    }

    .pagination__item {
      width: 2px;
      height: 25px;
      background-color: var(--color-black);
      border-radius: 7px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &--active {
        background-color: var(--color-red);
      }
    }
  }
}
