.tech {
  margin-bottom: 137px;

  @include small-tablet {
    margin-bottom: 40px;
  }

  &__info {
    .info__title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;

      @include small-tablet {
        margin-bottom: 10px;
      }
    }

    .info-list {
      &__item {
        &:not(:last-child) {
          margin-bottom: 26px;

          @include small-tablet {
            margin-bottom: 15px;
          }
        }

        .item__title {
          margin-bottom: 13px;
          padding: 2px 0;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: var(--color-white);
          background-color: var(--color-black);

          @include small-tablet {
            margin-bottom: 6px;
            font-size: 14px;
            line-height: 16px;
          }
        }
        .item__descr {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 7px;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;

          @include small-tablet {
            margin-bottom: 6px;
            font-size: 14px;
            line-height: 120%;
          }
        }
      }
    }
  }
  &__img {
    display: flex;
    align-items: center;

    @include small-tablet {
      display: none;
    }
  }
}
